node_modules
npm-debug.log
.git
.gitignore
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.idea
.vscode
*.swp
*.swo
build
dist
coverage
.eslintcache
README.md
.dockerignore
Dockerfile
docker-compose.yml
